$colors: (
	blue: (
		100: #bfd2ea,
		300: #6eaef9,
		400: #4c9bf8,
		500: #2867e0
	),
	pink: (
		50: #fcfaff,
		100: #fcf6ff,
		200: #f5e7ff,
		300: #edd6ff,
		400: #e8b9ff,
		450: #e16bcc,
		500: #de55c0
	),
	yellow: (
		100: #fef9ed,
		300: #ffe49f,
		400: #ffdc5e,
		500: #ffc543
	),
	indigo: (
		50: #cfcfd7,
		100: #9d99b0,
		200: #64647e,
		300: #39385c,
		400: #24234a,
		500: #0e0d39
	),
	red: (
		100: #f6caca,
		300: #e99fa0,
		500: #ec595a
	),
	green: (
		100: #a9f7b5,
		300: #6eff7c,
		400: #1edd8d,
		500: #31c75c,
		600: #a8c56a,
		700: #5eb5a0
	),
	purple: (
		50: #e4e1ff,
		100: #d1d0e7,
		200: #cecdeb,
		300: #cbcaeb
	),
	white: (
		100: #ffffff,
		200: #fafafa,
		300: #d9d9d9
	),
	company: (
		klay: #574a3b,
		binance: #f0b90b,
		youtube: #ff0000,
		naver: #00c538,
		twitter: #1d9bf0
	)
);
